{% extends "server/base.twig" %}

{% block content %}
    <h3>
        Welcome to the OAuth2.0 Server!
    </h3>
    <p>
        You have been sent here by <strong>{{client_id}}</strong>.  {{client_id}} would like to access the following data:
    </p>
    {% if scope is defined and scope != '' %}
        <ul>
        {% set scopes = scope | split(' ') %}
            {% for value in scopes %}
                    <li>
                        {{ value|title }} - 
                        {{ value == 'basic' ? 'to see your profile and list of friends' : ''}}
                        {{ value == 'profile' ? 'to see your full profile including contact information' : ''}}
                        {{ value == 'friends' ? 'to see details about your friends including contact information' : ''}}           
                    </li>
            {% endfor %}
        </ul>  <span style="font-size: 0.75em; color: gray; font-style: italic">Scope as passed in by request.</span>
    {% else %}
        <h3> No Scope defined so requesting Default Authorization Scope </h3>
        <ul>
            <li>friends</li>
            <li>memories</li>
            <li>hopes, dreams, passions, etc.</li>
            <li>sock drawer</li>
        </ul>
        <p>It will use this data to:</p>
        <ul>
            <li>integrate with friends</li>
            <li>make your life better</li>
            <li>miscellaneous nefarious purposes</li>
        </ul>
    {% endif %}
    
    <p>Click the button below to complete the authorize request and grant an <code>Authoriation Code</code> to {{client_id}}.
    <ul class="authorize_options">
        <li>
            <form action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
                <input type="submit" class="button authorize" value="Yes, I Authorize This Request" />
                <input type="hidden" name="authorize" value="1" />
            </form>
        </li>
        <li class="cancel">
            <form id="cancel" action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
                <a href="#" onclick="document.getElementById('cancel').submit()">cancel</a>
                <input type="hidden" name="authorize" value="0" />
            </form>
        </li>
    </ul>
{% endblock %}